<div class="login_bg">
    <div class="login_window">
        <div class="login_popup">
            <div class="login_popup_header">
                <span class="login_popup_title">LOGIN</span>
                <button class="close_login_btn"></button>
            </div>
            <form method="post" id="login_popup_container" action="./login.do" >
                <div>
                    <label for="login_id">아이디</label>
                    <input type="text" id="login_id" name="login_id" placeholder="ID">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <button class="btn_to_login">로그인</button>
            </form>
        </div>
    </div>
</div>