<div class="secret_b_container b_conatiner">
    <div class="content_name">
        <span class="notice_name"><b>비밀게시판</b></span>
    </div>
    <table class="content" id="secret_board">
        <th>No</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성시간</th>
        <th>좋아요</th>
        <tr>
            <td class="list_no">10</td>
            <td class="list_title">여기는 비밀게시판입니다</td>
            <td class="list_author">여인수</td>
            <td class="list_ptime">2022-01-04</td>
            <td class="list_like">4</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="content_footer">
    <div class="page_ctr_btn">
        <button class="pre_page_btn">＜</button>
        <button class="page_num_btn">1</button>
        <button class="post_page_btn">＞</button>
    </div>
    <button class="write_btn">글쓰기</button>
</div>





